/*
* 共通要素
*/
// ボタン
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
  font-family: "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 20px;
  letter-spacing: 0.1em;
}

header {
  background-color: #000000;
  height: 74px;
  position: relative;
  img {
    display: block;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 180px;
  }
}

.wrapper {
  margin: auto;
  max-width: 1280px;
}

a {
  color: #ffffff;
}

a:hover {
  opacity: 0.7;
}

.pc {
  display: block !important;
}

.sp, .br-sp {
  display: none !important;
}

.bottom-margin {
  padding-bottom: 115px;
}

.middle-bottom-margin {
  padding-bottom: 150px;
}

.top-margin {
  padding-top: 115px;
}

#about-area, #people-area, #special-area {
  background-color: #000000;
}

.two-column {
  text-align: center;
  width: 50%;
}

.two-column h2 {
  margin-bottom: 50px;
  .normal-title {
    margin: auto;
    max-width: 243px;
    width: 45%;
  }
  .long-title {
    margin: auto;
    max-width: 405px;
    width: 75%;
  }
}

.inner-contents {
  margin: 0 auto;
  max-width: 1080px;
  overflow: hidden;
  width: 85%;
}

.one-column .contents-detail {
  text-align: center;
}


#key-visual {
  background-image: url('../images/key_visual_pc.jpg');
  background-position: top;
  background-repeat: repeat-y;
	background-size: 1550px auto;
}

h1 {
  padding: 310px 0 20px 75px;
}

#key-visual a {
  margin-left: 85px;
}

#key-visual a img {
  height: auto;
  width: 348px;
}


#about-area {
	color: #ffffff;
}

.main-copy {
  font-size: 32px;
  line-height: 1.5em;
	margin: 0 auto;
	width: 550px;
}

.sub-text {
  margin: 30px auto 50px;
  line-height: 3.58em;
}

.added-exp {
	margin-bottom: 50px;
}

.contents-detail li {
  margin: 0 35px;
}

.rounded-rectangle {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border: solid 5px #ffffff;
  border-radius: 15px;
  display: inline-block;
  height: 187px;
  width: 187px;
  margin: 0 auto;
  position: relative;
  .item-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 187px;
  }
  .comments {
    font-size: 15px;
    margin-top: 20px;
    line-height: 2em;
  }
}

#second-visual-area {
	background-image: url('../images/second_visual_pc.jpg');
  background-position: 50% 900px;
  background-repeat: repeat-y;
}

.one-column {
	text-align: center;
}
h2 {
	border-bottom: 5px solid #000000;
	display: inline-block;
	font-size: 39px;
	font-weight: bold;
	margin-bottom: 75px;
	padding-bottom: 8px;
}
.white-title {
	border-bottom: 5px solid #ffffff;
	color: #ffffff;
}

#entry-area {
	.main-copy {
		font-size: 20px;
		margin-bottom: 80px;
	}
	img {
		max-width: 348px;
		width: 62%;
	}
}

#flow-area, #other-area {
  .contents-detail {
    margin: 0 auto;
    //width: 65%;
    width: 86%;
    img {
      width: 100%;
    }
  }
}

#flow-area .contents-detail {
	min-width: 550px;
	width: 65%;
}


#other-area {
	font-weight: bold;
  .target-copy {
    font-size: 30px;
    line-height: 1.2em;
  }
	.main-copy {
		width: 100%;
	}
  .sub-text {
    font-size: 18px;
    line-height: 1.4em;
  }
  .jobs-copy {
    font-size: 30px;
    line-height: 1.7em;
  }
}

.two-column {
  float: left;
  margin-top: 70px;
}


#people-area .contents-detail {
	color: #ffffff;
  font-size: 25px;
	text-align: left;
  .jobs {
    font-size: 16px;
  }
  li {
    display: inline-block;
    height: 250px;
    margin: 0 12px 90px;
		text-align: center;
    vertical-align: top;
    width: 182px;
    img {
      margin-bottom: 10px;
      width: 100%;
    }
  }
  .clicked-img {
    cursor: pointer;
  }
  .clicked-img:hover {
    opacity: 0.7;
  }
}


#modal-area {
  background-color: rgba(0,0,0,0.7);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  .modal-content {
    background-color: #ffffff;
    border: 1px solid #888;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin: auto;
    max-width: 854px;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: center;
    width: 85%;
    height: 535px;
    #prev_btn, #next_btn, #close_btn {
      cursor: pointer;
      position: absolute;
      img {
        width: 50%;
      }
    }
    #close_btn {
      right: 0;
      top: 25px;
    }
    #prev_btn {
      top: 50%;
      left: 5px;
    }
    #next_btn {
      top: 50%;
      right: -20px;
    }
    #prev_btn:hover, #next_btn:hover, #close_btn:hover {
      opacity: 0.5;
    }
    .contents {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .personal-photo {
      display: inline-block;
      width: 35%;
      img {
        max-width: 320px;
        width: 100%;
      }
    }
    .personal-intro {
      display: inline-block;
      float: right;
      width: 60%;
      .name {
        margin-top: 10px;
        font-size: 40px;
      }
      .job-name {
        font-size: 20px;
        margin: 15px 10px 20px;
      }
      .detail-text {
        font-size: 12px;
        line-height: 2em;
      }
    }
  }
}


#special-area {
  padding: 50px 0 75px;
  img {
    display: block;
    margin: auto;
    max-width: 213px;
    width: 32%;
  }
}


#contact-area, footer {
  background-color: #323333;
  color: #ffffff;
  padding: 75px 0;
  text-align: center;
  .main-copy {
    font-size: 22px;
  }
  .sub-text {
    line-height: 2.5em;
    margin-bottom: 0;
  }
}

footer {
	font-size: 14px;
	padding: 0 0 75px;
	img {
		margin: 0 11px 60px;
		width: 41px;
	}
}


@media(max-width:768px){
  #modal-area .modal-content {
    height: 450px;
    padding: 45px 20px;
    .personal-photo {
      display: block;
      text-align: center;
      width: 100%
    }
    .personal-intro {
      display: block;
      float: none;
      width: 100%;
      .name {
        margin-top: 5px;
        font-size: 20px;
        text-align: center;
      }
      .job-name {
        font-size: 15px;
        margin: 5px 0 10px;
        text-align: center;
      }
      .detail-text {
        font-size: 10px;
        line-height: 1.5em;
      }
    }
    #prev_btn {
      top: 35%;
    }
    #next_btn {
      top: 35%;
    }
  }
}


@media(max-width:640px){
  body {
    font-size: 10px;
  }

  .top-margin {
    padding-top: 35px;
  }

  .bottom-margin {
    padding-bottom: 35px;
  }

	.middle-bottom-margin {
		padding-bottom: 50px;
	}

	h2 {
		font-size: 18px;
	}

  .one-column h2 {
    margin-bottom: 35px;
  }

  header {
    height: 52px;
  }

  header img {
    width: 122px;
  }

  .pc {
    display: none !important;
  }

  .sp, .br-sp {
    display: block !important;
  }


  #key-visual {
    background-image: url('../images/key_visual_sp.jpg');
    background-position: top;
    background-size: 100% auto;
  }

  h1 {
    padding: 280px 0 30px;
  }

  h1 img {
    height: auto;
    margin: auto;
    width: 86%
  }

  .center-btn {
    text-align: center;
  }

  #key-visual a {
    margin: 0;
  }

  #key-visual a img {
    height: auto;
    width: 62%;
  }

  #concept-area img {
    max-width: 490px;
    width: 76%;
  }

  #second-visual-area {
    background-image: url('../images/second_visual_sp.jpg');
    background-size: 100% auto;
  }

  .main-copy {
    font-size: 15px;
		width: auto;
  }

  .sub-text {
    margin: 20px auto 35px;
		max-width: 86%;
    line-height: 3.58em;
  }

  .rounded-rectangle {
    border: solid 3px #ffffff;
    height: 30vw;
    width: 30%;
    .item-text {
      font-size: 16px;
      line-height: 1.2em;
      width: 100%;
    }
    .comments {
      font-size: 10px;
      margin-top: 10px;
      line-height: 2em;
    }
  }

	.added-exp {
		margin-bottom: 20px;
	}

	.contents-detail li {
	  margin: 0 5px;
	}

	#entry-area {
		.main-copy {
			font-size: 10px;
			font-weight: bold;
			line-height: 2.0em;
			margin-bottom: 40px;
			max-width: 86%;
			text-align: left;
		}
	}

	#flow-area .contents-detail {
		max-width: 300px;
		min-width: 0;
	}


  #other-area {
    .contents-detail {
      width: 86%;
    }
    .target-copy {
      font-size: 15px;
      line-height: 2.0em;
    }
    .sub-text {
      font-size: 10px;
      line-height: 1.8em;
      margin-bottom: 0;
			max-width: 100%;
    }
    .jobs-copy {
      font-size: 15px;
      line-height: 2.0em;
    }
  }

  .two-column {
    float: none;
    width: 100%;
    h2 {
      margin-bottom: 35px;
    }
  }

  #people-area .contents-detail {
    font-size: 12px;
    .jobs {
      font-size: 10px;
    }
    li {
      height: 160px;
      margin: 0 8px 30px;
      width: 115px;
      img {
        margin-bottom: 5px;
      }
    }
  }

  #contact-area {
    padding: 40px 0;
  }

	footer {
		font-size: 10px;
		padding: 0 0 15px;
	}
}
