$basefont: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$lineFont: "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$baseColor: #40210F;
$secondColor: #DE301F;
$whitecolor: #fff;

$navnum: 3;
$topNavWidth: 220px;
$topNavMargin: 20px;
$topNavFont: 14px;
$secondNavWidth: 199px;
$secondNavMargin: 5px;
$secondNavFont: 15px;
$footerNavWidth: 232px;
$footerNavMargin: 15px;
$footerNavFont: 15px;
$footerNavWidthSP: 309px;


$hoverOpacity: 0.3;
