footer
    #share
      a(href="https://twitter.com/share?url=https://www.cyberagent.co.jp/careers/special/adcreative/index.html&related=twitterapi&text=サイバーエージェントの広告部門でクリエイターとして活躍する社員が、自ら各エリアにおもむき選考を行う「72時間集中選考」を実施します。" target='_blank')
        img(src="images/tw.png", alt="twitterボタン")
      a(href="http://www.facebook.com/share.php?u=https://www.cyberagent.co.jp/careers/special/adcreative/index.html", target='_blank')
        img(src="images/fb.png", alt="facebookボタン")
        
    #copy Copyright © CyberAgent, Inc.
