block variables
doctype html
html
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#")
    include /template/_meta
  
  body
    include /template/_header
    
    include /template/_contents
    
    include /template/_footer
    
